body {
    background-color: #ffef96;
}

.card {
    margin-bottom: 15px;
}

.card-header {
    background-color: #50394c;
    color: #fff;
}

.card-body {
    background-color: #b2b2b2;
    color: #fff;
    border: 2px solid #50394c;
}

.card-footer {
    background-color: #f4e1d2;
    border: 2px solid #50394c;
}